.app-header h3 {
    background: #47355a;
    margin: 0;
    padding: 15px;
    color: white;
}

.nav-list {
    list-style: none;     
    display: flex;
    background: #604a77;
    margin: 0;
    padding: 0;
}

.nav-list li {
    flex: 0 0 auto;
    padding: 15px;
}

.nav-list li a {
    color: #ffffff;
    text-decoration: none;
}